<!-- render to navbar -->
<%= render 'layouts/navbar' %>

<div class="container">

	<div class="jumbotron">
	  <h1>Bienvenido!</h1>
	  <p></p>
	  <p>
	  	<a class="btn btn-success btn-lg" href="#" role="button">Saber más</a>
	  </p>
	</div>


</div>

<h4>
	Desde este aplicativo, puedes actualizar los datos básicos de los materiales
</h4>

<%= link_to 'Editar SKU', new_fichacortum_path %>